{:navi.component/http {:port #long #or [#env PORT 3000]
                       :handler #ig/ref :navi.component/endpoint
                       :logger #ig/ref :navi.component/logger}
 :navi.component/routes ["" [["/" {:post :navi.handler/create}]
                             ["/oauth" [["" :navi.handler.oauth/index]
                                        ["/callback" :navi.handler.oauth/callback]]]
                             [true :navi.handler.not-found/index]]]

 :navi.component/logger {:level #profile {:default :info :dev :debug}}
 :navi.component/endpoint
 {:middleware #ig/ref :navi.component/middleware
  :routes #ig/ref :navi.component/routes
  :handlers {:navi.handler/create #ig/ref :navi.handler/create
             :navi.handler.not-found/index #ig/ref :navi.handler.not-found/index
             :navi.handler.oauth/index #ig/ref :navi.handler.oauth/index
             :navi.handler.oauth/callback #ig/ref :navi.handler.oauth/callback}}
 :navi.component/middleware {:logger #ig/ref :navi.component/logger
                             :dev? #profile {:dfault false :dev true}}
 :navi.component/slack {:client-id #or [#env SLACK_CLIENT_ID "224069681875.420226130256"]
                        :client-secret #or [#env SLACK_CLIENT_SECRET "80b23b9f6ff99bc1e82f0d5f29a67e9f"]}
 ;; Database
 :duct.database.sql/hikaricp {:jdbc-url #or [#env JDBC_DATABASE_URL "jdbc:postgresql://127.0.0.1:5433/app"]
                              :username #or [#env JDBC_DATABASE_USERNAME "app"]
                              :password #or [#env JDBC_DATABASE_PASSWORD "p@ssw0rd"]
                              :stringtype "unspecified"}
 :duct.migrator/ragtime {:database #ig/ref :duct.database.sql/hikaricp
                         :strategy #profile {:default :raise-error :dev :rebase}
                         :migrations [#ig/ref :navi.migration/create-workspaces]}
 ;; Migrations
 [:duct.migrator.ragtime/sql :navi.migration/create-workspaces]
 #migration ["migrations/create_workspaces"]
 ;; Handlers
 :navi.handler/create {:logger #ig/ref :navi.component/logger
                       :db #ig/ref :duct.database.sql/hikaricp}
 :navi.handler.not-found/index {}
 :navi.handler.oauth/index {:slack #ig/ref :navi.component/slack}
 :navi.handler.oauth/callback {:slack #ig/ref :navi.component/slack
                               :db #ig/ref :duct.database.sql/hikaricp
                               :logger #ig/ref :navi.component/logger}}
