{[:navi.component/http :navi/app] {:port #long #or [#env PORT 3000]
                                   :handler #ig/ref :navi.component/endpoint
                                   :logger #ig/ref :navi.component/logger}
 :navi.component/routes ["" [["/" :navi.handler.install/index]
                             ["/install" [["" :navi.handler.install/index]
                                          ["/callback" :navi.handler.install/callback]]]
                             ["/events" {:post :navi.handler.event/create}]
                             ["/commands"
                              [["/rotate" {:post :navi.handler.command/rotate}]]]
                             [true :navi.handler.not-found/index]]]

 :navi.component/logger {:level #profile {:default :info :dev :debug}}
 :navi.component/endpoint
 {:middleware #ig/ref :navi.component/middleware
  :routes #ig/ref :navi.component/routes
  :handlers {:navi.handler.event/create #ig/ref :navi.handler.event/create
             :navi.handler.not-found/index #ig/ref :navi.handler.not-found/index
             :navi.handler.install/index #ig/ref :navi.handler.install/index
             :navi.handler.install/callback #ig/ref :navi.handler.install/callback
             :navi.handler.command/rotate #ig/ref :navi.handler.command/rotate}}
 :navi.component/middleware {:logger #ig/ref :navi.component/logger
                             :dev? #profile {:dfault false :dev true}}
 :navi.component/slack {:client-id #or [#env SLACK_CLIENT_ID "224069681875.420226130256"]
                        :client-secret #or [#env SLACK_CLIENT_SECRET "80b23b9f6ff99bc1e82f0d5f29a67e9f"]}
 ;; Handlers
 :navi.handler.not-found/index {}
 :navi.handler.install/index {:slack #ig/ref :navi.component/slack}
 :navi.handler.install/callback {:slack #ig/ref :navi.component/slack
                                 :db #ig/ref :duct.database.sql/hikaricp
                                 :logger #ig/ref :navi.component/logger}
 :navi.handler.event/create {:logger #ig/ref :navi.component/logger
                             :db #ig/ref :duct.database.sql/hikaricp}
 :navi.handler.command/rotate {:slack #ig/ref :navi.component/slack
                               :db #ig/ref :duct.database.sql/hikaricp
                               :logger #ig/ref :navi.component/logger
                               :channel #ig/ref :navi.channel/rotate}
 ;; Channels
 :navi.channel/rotate {}
 ;; Workers
 [:navi.worker/rotate :navi/app] {:channel #ig/ref :navi.channel/rotate
                                  :logger #ig/ref :navi.component/logger
                                  :db #ig/ref :duct.database.sql/hikaricp}
 ;; Database
 :duct.database.sql/hikaricp {:jdbc-url #or [#env JDBC_DATABASE_URL "jdbc:postgresql://127.0.0.1:5433/app"]
                              :username #or [#env JDBC_DATABASE_USERNAME "app"]
                              :password #or [#env JDBC_DATABASE_PASSWORD "p@ssw0rd"]
                              :stringtype "unspecified"}
 :duct.migrator/ragtime {:database #ig/ref :duct.database.sql/hikaricp
                         :strategy #profile {:default :raise-error :dev :rebase}
                         :migrations [#ig/ref :navi.migration/create-workspaces
                                      #ig/ref :navi.migration/create-rotations
                                      #ig/ref :navi.migration/create-rotation-users]}
 ;; Migrations
 [:duct.migrator.ragtime/sql :navi.migration/create-workspaces]
 #migration ["migrations/create_workspaces"]
 [:duct.migrator.ragtime/sql :navi.migration/create-rotations]
 #migration ["migrations/create_rotations"]
 [:duct.migrator.ragtime/sql :navi.migration/create-rotation-users]
 #migration ["migrations/create_rotation_users"]}
